<button id="toggleChatBox" class ="button-15" (click)='openChat()'>{{chatDisplay}}</button>

<div id="mydiv" hidden>
    <div id="mydivheader">Chat Room - Lobby</div>

    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div style="text-align: center;" class="form-group">
                        <label for="connect">WebSocket:</label>
                        <button id="connect" class="btn btn-default" (click)='connectBtn()'
                            type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div id = "usrmsgsBox">
    <div id="usrmsgs"></div>
    

    <form class="chatBtn">
        <div class="form-group">

            <input  style ="line-height: 22px ; width: 70%;" type="text" id="name" class="form-control" placeholder="Your text here..."
                #usrmsg>
                <button id="sendMsgBtn" style="float: right;" mat-raised-button color="Warn" (click)='sendMsg()'>Send</button>

        </div>
    </form>
</div>




</div>