<ng-container>
    <div *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
    </div>
</ng-container>
<!-- 
<div class="post">
    <div class="post-image post-image-1">
        <img src="https://images.freeimages.com/images/large-previews/bf4/the-road-through-the-woods-1449194.jpg"
            alt="">
    </div>
    <div class="post-content">
        <p class="post-date">Posted on <time datetime="16-11-2018">November 16, 2018</time> by <a class="post-author"
                href="#">krankin</a></p>
        <h2 class="post-title">A Long Road to Lorem Ipsum Dolor Sit Amet</h2>
        <div class="post-excerpt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo omnis vitae harum, beatae necessitatibus
                ipsam unde voluptatum.</p>
        </div>
        <a class="post-link" href="#">Read More</a>
    </div>
</div>

<div class="post">
    <div class="post-image post-image-2">
        <img src="https://images.freeimages.com/images/large-previews/bf4/the-road-through-the-woods-1449194.jpg"
            alt="">
    </div>
    <div class="post-content">
        <p class="post-date">Posted on <time datetime="15-10-2018">October 15, 2018</time> by <a class="post-author"
                href="#">joosi</a></p>
        <h2 class="post-title">Ladybug Knows Nemo Omnis Vitae Harum</h2>
        <div class="post-excerpt">
            <p>Rem et ipsam tempore reiciendis, velit, mollitia quidem exercitationem excepturi blanditiis porro
                provident!</p>
        </div>
        <a class="post-link" href="#">Read More</a>
    </div>
</div>

<div class="post">
    <div class="post-image post-image-3">
        <img src="https://images.freeimages.com/images/large-previews/bf4/the-road-through-the-woods-1449194.jpg"
            alt="">
    </div>
    <div class="post-content">
        <p class="post-date">Posted on <time datetime="13-10-2018">September 13, 2018</time> by <a class="post-author"
                href="#">linstran</a></p>
        <h2 class="post-title">Whole Field of Blanditiis Porro Provident</h2>
        <div class="post-excerpt">
            <p>Nemo omnis vitae harum, beatae necessitatibus ipsam unde voluptatum, dignissimos, eos earum laudantium
                odit!</p>
        </div>
        <a class="post-link" href="#">Read More</a>
    </div>
</div>

<div class="post">
    <div class="post-image post-image-3">
        <img src="https://images.freeimages.com/images/large-previews/bf4/the-road-through-the-woods-1449194.jpg"
            alt="">
    </div>
    <div class="post-content">
        <p class="post-date">Posted on <time datetime="13-10-2018">September 13, 2018</time> by <a class="post-author"
                href="#">linstran</a></p>
        <h2 class="post-title">Whole Field of Blanditiis Porro Provident</h2>
        <div class="post-excerpt">
            <p>Nemo omnis vitae harum, beatae necessitatibus ipsam unde voluptatum, dignissimos, eos earum laudantium
                odit!</p>
        </div>
        <a class="post-link" href="#">Read More</a>
    </div>
</div> -->