body {
    font-family: "Roboto";
}

#updateBtn {
    margin :auto;
    background-color: #9999F8;
    border-color: black;
}

.custom-round-circle {
    padding-top: 1rem;
    border-radius: 10rem;
    height: 20rem;
    width: 20rem;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120grad, #643986, #98AED5);
    width: 100vw;
    height: 100vh;
    padding: 10rem 0;
}

input {
    margin-bottom: 1rem;
}

.max-width {
    max-width: 43%;
}