<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=''>VibeZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <img src="../../../assets/plus.png" routerLink='createpost' alt="">
      <img src="../../../assets/smile.png" (click)="loadProfile()" alt="">
      <img src="../../../assets/heart.png" alt="">
      <img src="../../../assets/star.png" (click)="loadPostFeed()" alt="">
      
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Enter username" aria-label="Search"
          [(ngModel)]="search" name="search">
        <button class="btn btn-primary" type="submit" (click)="searchByUsername(search)">Search</button>
      </form>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg" id="topnav">
  <div class="" id="container">
    <img src="../../../assets/VibeZ-Logo-blue.png" id ="logo" routerLink='' alt="">

    
      <a  type="button" class="logoutBtn" (click)="logout()" >
        <img src="../../../assets/log-out.svg" id="logout"  (click)="logout()" alt=""> Logout
      </a>
    
   

    <div id="wrap">
      <form action="" autocomplete="on" id="form">
        <img src="../../../assets/search.svg" alt=""> 
      <input id="search"  [(ngModel)]="search" name="search" type="text" placeholder="Enter username">
      <input id="search_submit" value="Rechercher" type="submit" (click)="searchByUsername(search)">
      </form>
    
    </div>

   
 
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    </div>
    <!-- <div id="pop">Logout</div> -->
    </nav>


    <menu id="menu" class="top-right close">
      <a class="disc l1">
        <div routerLink='/createpost'>Add</div>
      </a>
      <a class="disc l2">
        <div (click)="loadProfile()">Profile</div>
      </a>
      <a class="disc l3">
        <div>Friends</div> <!--router link for friends-->
      </a>
      <a class="disc l4">
        <div (click)="loadPostFeed()">Posts</div>
      </a>
      <a class="disc l5 toggle" (click)="toggleNav()" #toggle>
        {{toggledText}}
      </a>
    </menu>
    
