<ng-container>
    <div class="onepost-regular" (click)="click($event)" [ngClass]="post.likes.length > 2 ? 'onepost-fancy' : 'onepost-regular'">
        <img class="post-image" src={{post.image}} alt="catbear">
        <p class="inline">{{post.title}}</p>
        <div>{{post.content}}</div>
        <div class="time-created">{{post.creationDate | date:'EE, MMMM dd, yyyy h:mm a'}}</div>
        <ng-container>
            {{post.likes.length}}
            <div *ngFor="let like of post.likes">
                <div *ngIf="like.postId === post.id">dislike button</div>
                <div *ngIf="like.userId !== post.authorId" class="align-center" (click)="createLike(post.id, $event)"> ♥ </div>
            </div>
        </ng-container>
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea (click)="stopClickPropagation($event)" class="form-control textarea-right"
                    placeholder="Add a comment..." type="text" id="exampleFormControlTextarea1" rows="3"
                    [(ngModel)]="content" name="content"></textarea>
            </div>
            <button class="btn btn-primary" (click)="createComment(post.id, content)">Reply</button>
        </form>
        <div class="reset-div" *ngIf="showComments && post.comments.length > 0">
            <div *ngFor="let comment of post.comments">
                <app-post [showComments]="true" [post]="comment"></app-post>
            </div>
        </div>
    </div>
</ng-container>