.onepost {
    background-color: darkgrey;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.25rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea-right {
    text-align: left;
    background-color: darkgrey;
}

.textarea-right:focus {
    /* outline: none !important; */
    border:1px solid green;
    box-shadow: 0 0 10px green;
}

.profile-image {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

.inline {
    display: inline;
    margin: 1rem;
}

.time-created {
    font-size: 1rem;
}

.reset-div {
    border: 0;
    margin: 0;
}